@font-face {
    font-family: 'Brice';
    src: url("../static/font/Brice-BlackSemiExpanded.woff"), url("../static/font/Brice-BlackSemiExpanded.woff2"),
        url('Brice-BlackSemiExpanded.woff2') format('woff2'),
        url('Brice-BlackSemiExpanded.woff') format('woff'),
        url('Brice-BlackSemiExpanded.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}